* {
    box-sizing: border-box;
  }
html {
      height: auto;
  }
#backimage {   
    background-image: linear-gradient(rgb(236, 236, 236), black);
}
#textfield {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    background-color: white;
}
#jlslogo {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 3%;
width: 30%;
}
.centertext {
    text-align: center;
}
#quote {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
#footer {
    background-color: rgb(101, 101, 104);
    text-align: center;
    color: white;
    display: grid;
    grid: 100px auto auto auto;
    gap: 1px;
}
